* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff4e59;
    --secondary-color: #161B2D;
    --background-color: #f9f9f9;
    --background-green: #245D51;
    --border-color: #c1c1c1;
    --text-color: #505050;
    --color-black: #000;
    --color-white: #fff;

}

html,
body {
    color: var(--text-color);
    /* background-color: #F8FAFA; */
    font-size: 18px;
    line-height: 30px;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    line-height: 24px;
}


/* Browser Csrolling Scrollbar  */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #c1c1c1;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: none;
}

html::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:active {
    background: #ff4e59;
}

/* Common Style Start*/
a {
    text-decoration: none;
    transform: all 0.3s linear 0s;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}


.primary-button a {
    display: inline-block;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 30px;
    background: linear-gradient(0deg, #ff4e59, #ff4e59), #d9d9d9;
    border-radius: 6px;
    box-shadow: 5px 15px 45px rgba(22, 27, 45, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s linear 0s;
}

.primary-button a::before {
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
    background: var(--secondary-color);
    transition-duration: 800ms;
}

.primary-button a:hover::before {
    top: -40%;
}


/* Common Style  End*/

/* Navbar STyle Start */
.navbar {}

.navbar-logo {
    font-weight: 700;
    font-size: 24px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.navbar-logo span {
    color: var(--primary-color);
}

.nav-item .nav-link {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    transition: all 0.3s linear 0s;
}

.nav-item .nav-link:hover {
    color: var(--primary-color);
}

/* .navbar-scrolled {
    background-color: #ffffff;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    border-bottom: none;
} */
/* Navbar styles */
.navbar {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: var(--color-white);
    box-shadow: none;
    padding: 24px 0;
    border-bottom: 1px solid rgba(80, 80, 80, 0.1);
}

/* Scrolled down: hide the navbar */
.navbar-hidden {
    transform: translateY(-100%);
}

/* Revealed: show the navbar with background and shadow */
.navbar-scrolled {
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}

/* Navbar reveal animation */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navbar STyle End */

/* Hero Section Style Start */
.hero-section {
    background-color: #F8FAF9;
    padding-top: 210px;
}

.hero-content-wrapper {
    text-align: center;
    position: relative;
    margin-bottom: 56px;
}

.hero-top-sub-title p {
    font-weight: 600;
    font-size: 20px;
}

.hero-title-wrapper {
    max-width: 777px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.hero-title {
    font-size: 72px;
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 1.27;
}

.hero-title-shape-1 {
    position: absolute;
    bottom: -10px;
    right: 70px;
}

.hero-title-shape-2 {
    position: absolute;
    top: -15px;
    right: -50px;
}

.hero-sub-text-wrapper {
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 645px;
    margin-right: auto;
    margin-left: auto;
}



/* Hero Section Style End */

/* Features Section Style Start */
.features-section {
    padding: 120px 0;
}

.feature-card-wrapper {
    padding: 30px 30px;
    border: 2px solid rgba(22, 27, 45, 0.05);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    transition: all 0.3s linear 0s;
}

.feature-card-wrapper:hover {
    border-color: transparent;
    box-shadow: 5px 15px 45px rgba(80, 80, 80, 0.08);
    border-radius: 6px;
}

.feature-card-wrapper .icon-wrapper {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgba(36, 93, 81, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.feature-card-title-wrapper {
    margin-bottom: 20px;
}

.feature-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--secondary-color);
}

.feature-card-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #505050;
}

/* Features Section Style End */

/* Slider Style start */
.student-progress-title {

    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    color: var(--secondary-color);
    margin-bottom: 0;
    text-align: center;

}

.card-container {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-article {
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-image {
    position: relative;
    background-color: var(--background-green);
    padding-top: 1.5rem;
    margin-bottom: -0.75rem;
}

.card-data {
    background-color: var(--background-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    /* text-align: center; */
    position: relative;
    z-index: 10;
}

/* Card Img */
.card-img {
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card-shadow {
    width: 200px;
    height: 200px;
    background-color: var();
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

/* Card Text */
.card-name {
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: 0.75rem;
}

.card-description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.card-button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    color: var(--primary-color);
    font-weight: 600;
}

.progress-level {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.progress-level i {
    color: var(--primary-color);
    font-size: 24px;
}

.progress-level p {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-black);
}

/* Swiper Class */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--primary-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: #ff4e59;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

/* Media Queries Breakpoints */

/* Small Devices */
@media screen and (min-width: 768px) {
    /* .card-content {
        margin-inline: 3rem;
    } */

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    /* .card-content {
        margin-inline: 3rem;
    } */

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

/* Large Devices */
@media screen and (min-width: 1120px) {
    .card-container {
        max-width: 1120px;
    }

    .swiper-button-next {
        right: -1rem;
    }

    .swiper-button-prev {
        left: -1rem;
    }
}



/* Slider Style end */

/* About Section Style Start */
.about-section {
    padding: 80px 0;
}

.about-right-content-wrapper {
    padding-left: 30px;
}

.section-title-wrapper {
    position: relative;
    margin-bottom: 24px;
}

.about-top-sub-title p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.about-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.about-hero-title-line {
    position: absolute;
    bottom: -10px;
    left: 0;
}

.about-sub-text {
    margin-bottom: 25px;
    max-width: 501px;
}

.about-sub-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.check-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 40px;
}

.check-list-item {
    display: flex;
    align-items: center;
    gap: 10px;

}

.check-list-item i {
    color: var(--primary-color);
    margin-top: 3px;
}

.check-list-item p {
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--secondary-color);
}


/* About Section Style End */

/* Footer Section STyle Start */
.footer-section {
    background-color: var(--background-green);
    padding: 120px 0px 20px 0px;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-brand {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-white);
    text-transform: uppercase;
}

.footer-small-description p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--border-color);

}

.footer-link-wrapper .footer-link-title,
.footer-contact-wrapper .footer-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 0;

}

.footer-link-wrapper,
.footer-contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer-link-list li a {
    color: var(--border-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.3s linear 0s;
}

.footer-link-list li a:hover {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.footer-contact-info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--border-color);
}

.footer-social-icon {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-social-icon a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s linear 0s;

}

.footer-social-icon a:hover {
    background: var(--primary-color);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-copyright-wrapper {
    text-align: center;
    padding-top: 80px;
}

.footer-copyright-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

/* Footer Section STyle End */

/* Sign Up STyle STart */
.form-section {
    padding: 190px 0px 120px 0px;
}

.signup-title h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    color: #161b2d;
    margin-bottom: 0;
}

.input-wrapper {
    position: relative;
    z-index: 1;
}

.input-wrapper span {
    position: absolute;
    z-index: 1;
    left: 3%;
    top: 20%;
}

.input-wrapper input,
.user-type-input {
    width: 100%;
    border-radius: 6px;
    background: #f8fafa;
    border: 0;
    padding: 13px 20px;
    color: #505050;
    font-size: 16px;
    font-weight: 500;
}

.input-wrapper input,
.user-type-input {
    padding-left: 60px;
}

.input-wrapper input:focus,
.user-type-input:focus {
    outline: 0;
}

.submit-btn-wrapper .signup-btn {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #161b2d;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 5px 15px 45px rgba(22, 27, 45, 0.07);
    transition: all 0.3s linear 0s;
    border: 0;
    width: 100%;
}

.submit-btn-wrapper .btn-1 {
    color: #ffffff;
    background: var(--secondary-color);
}

.submit-btn-wrapper .btn-1:hover {
    color: #ffffff;
    background: var(--primary-color);
}

.form-footer {
    margin-top: 30px;
    text-align: center;
}

.form-footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #505050;
}

.form-footer p a {
    color: var(--primary-color);
    font-weight: 700;
}


/* Sign Up STyle End */

/* Responsive Style Start for tablet*/

@media screen and (max-width: 768px) {

    /* Hero Section Style Start */
    .hero-section {
        background-color: #F8FAF9;
        padding-top: 160px;
    }

    .hero-title {
        font-size: 60px;
    }

    .hero-title-shape-2 {
        position: absolute;
        top: -15px;
        right: -20px;
        width: 60px;
    }

    .hero-sub-text-wrapper {
        max-width: 600px;
    }

    /* Hero Section Style End */

    /* Features Section Style Start */
    .features-section {
        padding: 80px 0;
    }

    /* Features Section Style end */

    /* About Section Style Start */
    .about-section {
        padding: 80px 0;
        overflow: hidden;
    }

    .about-image-wrapper {
        margin-bottom: 40px;
    }

    .about-right-content-wrapper {
        padding-left: 0;
    }

    /* About Section Style End */

    .footer-section {
        background-color: var(--background-green);
        padding: 80px 0px 20px 0px;
    }


    /* Login STyle  */
    .signup-title h2 {
        font-size: 32px;
    }

    /* Login STyle  */
}

@media screen and (max-width: 575px) {

    /* Hero Section Style Start */
    .hero-section {
        background-color: #F8FAF9;
        padding-top: 140px;
    }

    .hero-title {
        font-size: 42px;
        line-height: 1.2;
    }

    .hero-sub-title {
        font-size: 16px;
        line-height: 24px;
    }

    .hero-title-shape-2 {
        display: none;
    }

    .hero-title-shape-1 {
        position: absolute;
        bottom: -10px;
        right: 70px;
        width: 215px;
    }


    /* Hero Section Style End */


    /* Features Section Style Start */
    .features-section {
        padding: 60px 0;
    }

    .feature-card-wrapper .icon-wrapper {
        height: 60px;
        width: 60px;
    }

    .feature-card-wrapper .icon-wrapper img {
        height: 24px;
        width: 24px;
    }

    /* Features Section Style end */



    /* About Section Style Start */
    .about-section {
        padding: 60px 0;
        overflow: hidden;
    }

    .about-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .about-sub-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .check-list-wrapper {
        gap: 1rem;
    }

    .check-list-item p {
        font-size: 16px;
    }

    .about-image-wrapper {
        margin-bottom: 40px;
    }

    /* About Section Style End */

    .footer-section {
        background-color: var(--background-green);
        padding: 60px 0px 20px 0px;
    }

}

/* Practice Page css Start */

.practice-hero {
    padding: 180px 0px 40px 0;
}

.practice-hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.practice-hero-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    color: var(--secondary-color);
    margin-bottom: 0;
    text-align: center;
}

.practice-hero-sub-title {}

.form-block {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 32px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.form-block input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 999px;
    border: 1px solid #c1c1c1;

}

.form-block input:focus {
    outline: none;
}

.search-btn {

    right: 8px;
    top: 8%;
    position: absolute;
    background-color: var(--primary-color);
    color: whitesmoke;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 999px;
    transition: all 0.3s linear 0s;
}

.search-btn:hover {

    background-color: var(--secondary-color);
    color: #F8FAF9;
}

/* Subject Style Start */
.subject-practice {
    padding: 80px 0;

}

.section-heading-wrapper {
    margin-bottom: 40px;
}

.practice-heading-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    color: var(--secondary-color);
    text-align: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: transform 0.3s ease-in-out;
    background-color: var(--background-color);
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: var(--secondary-color);
    font-weight: bold;
}

.card-text {
    color: var(--text-color);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-custom {
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
}

.btn-custom:hover {
    background-color: var(--secondary-color);
    color: var(--color-white);
}

/* Subject Style End */


/* Subject Dashboard Style */
.subject-info {
    padding: 160px 0px 40px 0px;
}

.subject-info-wrapper {
    background-color: var(--secondary-color);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 12px;
    text-align: center;
}

.subject-info-wrapper .subject-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: var(--color-white);
    margin-bottom: 0;
}

.subject-info-wrapper .card-text {
    color: var(--color-white);

}

.question-label-wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
}

.question-label-wrapper h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.question-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.question-label .question-filter-btn {
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 14px;
}

.chapter-content-wrapper {
    margin-top: 32px;
}

.chapter-info-wrapper {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 0.3s linear 0s;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapter-info-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.chapter-info-wrapper h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.chapter-info-wrapper p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

/* Subject Dashboard Style */


/* About Page STyle */
.contact-hero-section {
    background-image: url(../Images/page-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 190px 0 120px 0;
}

.page-hero-title-wrapper .page-hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #ffffff;
    margin-bottom: 30px;
}

.page-hero-title-wrapper .breadcrumb-menu {
    background: #245d51;
    border-radius: 6px;
    padding: 14px 30px;
    display: inline-block;
}

.page-hero-title-wrapper .breadcrumb-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.breadcrumb-menu ul li {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.breadcrumb-menu ul li a {
    color: #ffffff;
    transition: all 0.3s ease;
}

.breadcrumb-menu ul li a:hover {
    color: #FF4E59;
}

.breadcrumb-menu ul li:after {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb-menu ul li:last-child {
    font-weight: 700;
}


/* Choose  */
.choose-section {
    padding: 80px 0;
    background-color: #f8fafa;
}

.choose-heading-sub-title p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #505050;
}

.choose-heading-title {
    margin: 20px 0;
}

.choose-heading-title h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.4;
    color: #161b2d;

}

.choose-heading-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #505050;
}

.choose-list {
    margin: 20px 0 30px 0;
}

.choose-list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choose-list li i {
    color: #FF4E59;
    margin-right: 10px;
}

.choose-list li span {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    color: #161b2d;

}

.about-us-choose-image-wrapper {
    position: relative;
}

.about-us-choose-image-wrapper img {
    border-radius: 10px;
}

.choose-small-image {
    position: absolute;
    top: -25px;
    right: -40px;
    border-radius: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 999px;
}

.choose-small-image img {
    border-radius: 999px;
}

/* About Page STyle */

/* Contact Page STyle */
.contact-hero-section {
    background-image: url(../Images/page-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 190px 0 120px 0;
}

.page-hero-title-wrapper .page-hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #ffffff;
    margin-bottom: 30px;
}

.page-hero-title-wrapper .breadcrumb-menu {
    background: #245d51;
    border-radius: 6px;
    padding: 14px 30px;
    display: inline-block;
}

.page-hero-title-wrapper .breadcrumb-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.breadcrumb-menu ul li {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.breadcrumb-menu ul li a {
    color: #ffffff;
    transition: all 0.3s ease;
}

.breadcrumb-menu ul li a:hover {
    color: #FF4E59;
}

.breadcrumb-menu ul li:after {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb-menu ul li:last-child {
    font-weight: 700;
}


/* Contact Area */
.contact-area-section {
    padding: 120px 0;
    background: #f8fafa;
}

.contact-info-wrapper {
    padding: 40px 30px;
    background: #ffffff;
    box-shadow: 5px 15px 45px 0px rgba(22, 27, 45, 0.05);
}

.contact-info-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.contact-info-inner-wrapper .info-item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 415px;
}

.contact-info-inner-wrapper .info-item .icon-wrapper {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background: #245d51;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.info-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.info-text-wrapper a,
.info-text-wrapper p {
    color: #161b2d;
    font-size: 24px;
    font-weight: 600;
}

.contact-map-section {
    padding: 120px 0;
    overflow: hidden !important;
}

.contact-map-section iframe {
    width: 100%;
    height: 400px;
}

/* Contact Area */
/* Contact Page STyle */

/* h-exam test style */
.subject-heading-wrapper {
    padding-top: 120px;
    background-color: #F8FAFA;
    position: relative;
}

.subject-Text-wrap {
    max-width: 500px;
    padding: 24px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}

/* .mcq-number-sticky {
    max-width: 500px;
    padding: 24px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    position: sticky;
    top: 150;
} */

/* .mcq-number-sticky {
    max-width: 500px;
    padding: 24px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} */

.mcq-number {
    font-size: 28px;
    font-weight: 500;
    color: #161B2D;
    margin: 0;

}

.subject-Text-wrap .subject-name {
    font-size: 28px;
    font-weight: 500;
    color: #161B2D;
}


.mcq-section {
    background-color: #161B2D;
}

.mcq-hero-content-wrapper {
    padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mcq-hero-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.mcq-hero-chapter-no {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mcq-hero-mcq-no {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mcq-subject-info {
    padding-top: 160px;
    background-color: #F8FAFA;
}

.mcq-step-section {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #F8FAFA;
}

.mcq-step-content-wrapper {
    background-color: #fff;
    padding: 40px;
    position: relative;
}

form {
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.step-count {
    font-size: 16px;
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin: 20px 0;
}

.steps {
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.quiz-question {
    font-size: 24px;
    color: #161B2D;
    font-weight: 500;
    width: 80%;
    margin: 0px auto;
}


fieldset {
    position: relative;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    /* flex: 1; */
}

.radio-field {
    padding: 20px 10px;
    width: 97%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
    padding-left: 30px;
}

.radio-field input {
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    left: 0;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}



.radio-field label {
    font-size: 16px;
    color: #161B2D;
    font-weight: 500;
    pointer-events: none;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

.radio-field input:checked {
    border: solid 2px rgb(219, 219, 219);
    background-color: #FF4E59;
}

.radio-field input:checked~label {
    color: #fff;
}

.next-prev {
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.next-prev button,
.hints-btn-wrapper button {
    /* margin-top: 20px; */
    background-color: rgb(202, 202, 202);
    padding: 12px 20px;
    font-size: 15px;
    color: #161B2D;
    /* font-weight: 500; */
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
}

.next-prev button i {
    position: relative;
    top: 1px;
    margin: 0 10px;
}

.next-prev .button,
.hints-btn-wrapper .button {
    color: rgb(255, 255, 255);
    background-color: #161B2D;
}

.button-submit {
    background-color: #FF4E59 !important;
}

.hints {}

.hints-btn-wrapper {
    margin-top: 20px;
}

.modal-body {
    padding: 24px !important;
}

#error div {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999999999;
}

.time-duration-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

/* .timer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
} */
.mcq-timer-count-wrapper {
    display: flex;
    justify-content: flex-end;
}

.mcq-sticky-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    position: fixed;
    right: 9%;
    top: 110px;
    z-index: 1000;
}

.mcq-sticky-content-wrapper .divider {
    width: 5px;
    height: 40px;
    background-color: #FF4E59;
}

.mcq-sticky-content-wrapper .timer h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.mcq-sticky-content-wrapper .mcq-number {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* h-exam test style */

/* Hyrid test Style */
.subject-heading-wrapper {
    padding-top: 120px;
    background-color: #F8FAFA;
}

.subject-Text-wrap {
    max-width: 500px;
    padding: 24px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}

.subject-Text-wrap .subject-name {
    font-size: 28px;
    font-weight: 500;
    color: #161B2D;
}

.subject-Text-wrap .subject-sub-text {
    color: #505050;
}

.mcq-step-content-wrapper>div p {
    font-size: 20px;
    font-weight: 500;
    color: #161B2D;
}

.mcq-section {
    background-color: #161B2D;
}

.mcq-hero-content-wrapper {
    padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mcq-hero-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.mcq-hero-chapter-no {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mcq-hero-mcq-no {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mcq-subject-info {
    padding-top: 160px;
    background-color: #F8FAFA;
}

.mcq-step-section {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #F8FAFA;
}


.mcq-step-content-wrapper {
    background-color: #fff;
    padding: 40px;
}

form {
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.step-count {
    font-size: 16px;
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin: 20px 0;
}

.steps {
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.quiz-question {
    font-size: 24px;
    color: #161B2D;
    font-weight: 500;
    width: 80%;
    margin: 0px auto;
}


fieldset {
    position: relative;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    /* flex: 1; */
}

.radio-field {
    padding: 20px 10px;
    width: 97%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
    padding-left: 30px;
}

.radio-field input {
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    left: 0;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}



.radio-field label {
    font-size: 16px;
    color: #161B2D;
    font-weight: 500;
    pointer-events: none;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

.radio-field input:checked {
    border: solid 2px rgb(219, 219, 219);
    background-color: #FF4E59;
}

.radio-field input:checked~label {
    color: #fff;
}

.next-prev {
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.next-prev button,
.hints-btn-wrapper button {
    /* margin-top: 20px; */
    background-color: rgb(202, 202, 202);
    padding: 12px 20px;
    font-size: 15px;
    color: #161B2D;
    /* font-weight: 500; */
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
}

.next-prev button i {
    position: relative;
    top: 1px;
    margin: 0 10px;
}

.next-prev .button,
.hints-btn-wrapper .button {
    color: rgb(255, 255, 255);
    background-color: #161B2D;
}

.button-submit {
    background-color: #FF4E59 !important;
}

.hints {}

.hints-btn-wrapper {
    margin-top: 20px;
}

.modal-body {
    padding: 24px !important;
}

#error div {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999999999;
}

.per-sub-ques-wrapper input {
    width: 100%;
    height: 60px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 8px;
    padding: 20px 20px;
}

.per-sub-ques-wrapper select {
    width: 100%;
    height: 60px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 8px;
    padding: 16px 20px;
    color: #75777E;
}

.form-select:focus {
    border: solid 2px rgb(219, 219, 219);
    outline: none;
    box-shadow: none;

}

.per-sub-ques-wrapper select:focus {
    outline: none !important;
}



.per-sub-ques-wrapper input:focus {
    outline: none;
}

/* Hyrid test Style */

/* MCQ Page STyle */


.correct-ans-text-wrapper p {
    font-size: 20px;
    margin-bottom: 20px;
    color: green;
    font-weight: 500;
    margin-top: 20px;
}

.wrong-ans-text-wrapper p {
    font-size: 20px;
    margin-bottom: 20px;
    color: red;
    font-weight: 500;
    margin-top: 20px;
}

/* MCQ Page STyle */

/* MCQ Page STyle */
.mcq-section {
    background-color: #161B2D;
}

.mcq-hero-content-wrapper {
    padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mcq-hero-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.mcq-hero-chapter-no {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mcq-hero-mcq-no {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.mcq-subject-info {
    padding-top: 160px;
    background-color: #F8FAFA;
}

.mcq-step-section {
    /* padding-top: 160px; */
    padding-bottom: 80px;
    background-color: #F8FAFA;
}

.mcq-step-content-wrapper {
    background-color: #fff;
    padding: 40px;
}

form {
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.step-count {
    font-size: 16px;
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin: 20px 0;
}

.steps {
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.quiz-question {
    font-size: 24px;
    color: #161B2D;
    font-weight: 500;
    width: 80%;
    margin: 0px auto;
}


fieldset {
    position: relative;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    /* flex: 1; */
}

.radio-field {
    padding: 20px 10px;
    width: 97%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
    padding-left: 30px;
}

.radio-field input {
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    left: 0;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}



.radio-field label {
    font-size: 16px;
    color: #161B2D;
    font-weight: 500;
    pointer-events: none;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

.radio-field input:checked {
    border: solid 2px rgb(219, 219, 219);
    background-color: #FF4E59;
}

.radio-field input:checked~label {
    color: #fff;
}

.next-prev {
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.next-prev button,
.hints-btn-wrapper button {
    /* margin-top: 20px; */
    background-color: rgb(202, 202, 202);
    padding: 12px 20px;
    font-size: 15px;
    color: #161B2D;
    /* font-weight: 500; */
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
}

.next-prev button i {
    position: relative;
    top: 1px;
    margin: 0 10px;
}

.next-prev .button,
.hints-btn-wrapper .button {
    color: rgb(255, 255, 255);
    background-color: #161B2D;
}

.button-submit {
    background-color: #FF4E59 !important;
}

.hints {}

.hints-btn-wrapper {
    margin-top: 20px;
}

.modal-body {
    padding: 24px !important;
}

#error div {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999999999;
}

.step-bar-progress-wrapper {
    margin-bottom: 20px;
}

.step-bar {
    border: solid 2px rgb(255, 255, 255);
    background-color: #FF4E59;
    height: 28px;
    width: 80%;
    border-radius: 50px;
    margin: 0 auto;
    padding: 4px;
}

.step-bar .fill {
    width: 20%;
    height: 100%;
    border-radius: inherit;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

/* MCQ Page STyle */